{% load static %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>MegaHack 2.0 - Home</title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Favicons -->
  <link href="{% static 'img/favicon.ico' %}" rel="icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="{% static 'lib/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="{% static 'lib/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/animate/animate.min.css' %}" rel="stylesheet">
  <link href="{% static 'lib/venobox/venobox.css' %}" rel="stylesheet">
  <link href="{% static 'lib/owlcarousel/assets/owl.carousel.min.css' %}" rel="stylesheet">

  <!-- Main Stylesheet File -->
  <link href="{% static 'css/style.css' %}" rel="stylesheet">
  <link href="{% static 'css/preload.css' %}" rel="stylesheet">

  <!-- =======================================================
    Theme Name: TheEvent
    Theme URL: https://bootstrapmade.com/theevent-conference-event-bootstrap-template/
    Author: BootstrapMade.com
    License: https://bootstrapmade.com/license/
  ======================================================= -->
</head>

<body>

  <!-- Preloader -->
  <div class="preload">
    <img  src="{% static 'img/mask1.jfif' %}" alt="mask" style="max-width: 100%;max-height: 50%;padding-bottom: 100px;">
    <h1 class="glitch" data-text="LOADING...">LOADING...</h1>
  </div>

  <!--==========================
    Header
  ============================-->

  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="{% static 'img/Landscape megahack1.png' %}" alt="" title="" style="height:100px; width:120px;"></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="#schedule">Schedule</a></li>
          <li><a href="#gallery">Gallery</a></li>
          <li><a href="#supporters">Sponsors</a></li>
<!--         <li><a href="{% url 'team' %}">Team</a></li>--> 
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="{% url 'register' %}">Register</a></li>
        </ul>
      </nav><!-- #nav-menu-container -->
    </div>
  </header><!-- #header -->

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeIn">
      <h1 class="mb-4 pb-0">Code |<br><span>Compete |</span> Conquer </h1>
      <p class="mb-4 pb-0">9-10 April 2021, St. John College of Engineering and Management, Palghar, Maharashtra</p>
      {% for u in youtube %}
      <a href="https://www.{{u.link}}" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
      {% endfor %}  
      <div class="container" style="margin-top: 30px;">
        <div class="row">
          {% for c in code_of_conduct %}
          <div class="col-lg-4 col-md-3 col-sm-12">
            <a href="https://www.{{c.link}}" class="about-btn scrollto">Code Of Conduct</a>
          </div>
          {% endfor %}
          {% for v in view_poster %}
          <div class="col-lg-4 col-md-3 col-sm-12">
            <a href="https://www.{{v.link}}" class="about-btn scrollto">View Poster</a>
          </div>
          {% endfor %}
          {% for r in rule %}
          <div class="col-lg-4 col-md-3 col-sm-12">
            <a href="https://www.{{r.link}}" class="about-btn scrollto">Rules Of MegaHack 2.0</a>
          </div>
          {% endfor %}
    </div>
    </div>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-6">
            <h2>About The Event</h2>
            <p>We are St. John College of Engineering and Management’s (SJCEM’s) second edition of hackathon organized by students and for students. With this hackathon, SJCEM strives to promote technical innovation and highlight students’ skills and abilities. We aim to elicit the best and brightest students, not just from SJCEM but from other universities/institutions all over India. The event is an opportunity for hackers to exchange their ideas, gain extra knowledge, and make good relations for future collaborations. We wholeheartedly invite all the technophiles to this exciting Hackathon…!!!</p>
          </div>
          <div class="col-lg-3">
            <h3>Where</h3>
            <p>Online | St. John College of Engineering and Management<br> Palghar, Maharashtra</p>
          </div>
          <div class="col-lg-3">
            <h3>When</h3>
            <p>24 hour Hackathon<br>9-10 April 2021</p>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Event Speakers</h2>
          <p>A good speech is like a pencil; it has to have a point.</p>
        </div>

        <div class="row">
          {% for s in speaker %}
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="{{s.image.url}}" alt="Speaker" class="img-fluid">
              <div class="details">
                <h3><a href="#">{{s.name}}</a></h3>
                <p>{{s.sub_title}}</p>
                <div class="social">
                  <a href="mailto:{{s.email_id}}"><i class="fa fa-envelope"></i></a>
                  <a href="https://www.{{s.instagram_id}}"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.{{s.linkedIn_id}}"><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>

    </section>

    <!--==========================
      Schedule Section
    ============================-->
    <section id="schedule" class="section-with-bg">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Event Schedule</h2>
          <p>“You gotta make it a priority to make your priorities a priority.”
            ― Richie Norton</p>
        </div>

        <ul class="nav nav-tabs" role="tablist">
          <li class="nav-item">
            <a class="nav-link active" href="#day-1" role="tab" data-toggle="tab">Day 1</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#day-2" role="tab" data-toggle="tab">Day 2</a>
          </li>
        </ul>
        <div class="tab-content row justify-content-center">

          <!-- Schdule Day 1 -->
          <div role="tabpanel" class="col-lg-9 tab-pane fade show active" id="day-1">

            <div class="row schedule-item">
              <div class="col-md-2"><time>07:30 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Registration</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>08:30 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Login To the Platform</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:30 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">College Anthem/ Universal Prayer</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:40 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Lighting of Lamp</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>09:45 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Address by Chairman</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Address by Principal</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:10 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Introduction of Chief Guest</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:15 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Keynote Talk</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:45 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Address by Coordinator</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Hacking Starts!</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>30 mins-3 slots</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Lighting Talk by Sponsor</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>13:00-14:00 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>15:30 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;" >First Round Of Evaluation</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>18:00-18:30 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>20:00-20:30 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">First Round Of Evaluation</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>21:15-21:30 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Lightning Talk by Mentor</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>23:00 PM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Second round of Evaluation</h4>
              </div>
            </div>

          </div>
          <!-- End Schdule Day 1 -->

          <!-- Schdule Day 2 -->
          <div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-2">

            <div class="row schedule-item">
              <div class="col-md-2"><time>00:00 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Games and Fun Activities</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00-02:30 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>07:30 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Judging Round 3</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>08:00-09:00 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Break</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:15 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Dignitaries on dais</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:37 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Introduction of Chief Guest</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:45 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Chief Guest Talk</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Feedback from Hacker 1</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:05 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Feedback from Hacker 2</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:15 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Prize Distribution</h4>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:45 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">Vote of Thanks</h4>
              </div>
            </div>


            <div class="row schedule-item">
              <div class="col-md-2"><time>11:50 AM</time></div>
              <div class="col-md-10">
                <h4 style="text-align: center;">National Anthem</h4>
              </div>
            </div>


          </div>
          <!-- End Schdule Day 2 -->

          <!-- Schdule Day 3 -->
          <!--<div role="tabpanel" class="col-lg-9  tab-pane fade" id="day-3">

            <div class="row schedule-item">
              <div class="col-md-2"><time>10:00 AM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/2.jpg" alt="Hubert Hirthe">
                </div>
                <h4>Et voluptatem iusto dicta nobis. <span>Hubert Hirthe</span></h4>
                <p>Maiores dignissimos neque qui cum accusantium ut sit sint inventore.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>11:00 AM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/3.jpg" alt="Cole Emmerich">
                </div>
                <h4>Explicabo et rerum quis et ut ea. <span>Cole Emmerich</span></h4>
                <p>Veniam accusantium laborum nihil eos eaque accusantium aspernatur.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>12:00 AM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/1.jpg" alt="Brenden Legros">
                </div>
                <h4>Libero corrupti explicabo itaque. <span>Brenden Legros</span></h4>
                <p>Facere provident incidunt quos voluptas.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>02:00 PM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/4.jpg" alt="Jack Christiansen">
                </div>
                <h4>Qui non qui vel amet culpa sequi. <span>Jack Christiansen</span></h4>
                <p>Nam ex distinctio voluptatem doloremque suscipit iusto.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>03:00 PM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/5.jpg" alt="Alejandrin Littel">
                </div>
                <h4>Quos ratione neque expedita asperiores. <span>Alejandrin Littel</span></h4>
                <p>Eligendi quo eveniet est nobis et ad temporibus odio quo.</p>
              </div>
            </div>

            <div class="row schedule-item">
              <div class="col-md-2"><time>04:00 PM</time></div>
              <div class="col-md-10">
                <div class="speaker">
                  <img src="img/speakers/6.jpg" alt="Willow Trantow">
                </div>
                <h4>Quo qui praesentium nesciunt <span>Willow Trantow</span></h4>
                <p>Voluptatem et alias dolorum est aut sit enim neque veritatis.</p>
              </div>
            </div>

          </div>-->
          <!-- End Schdule Day 3 -->

        </div>

      </div>
      <section id="venue" class="wow fadeInUp">

        <div class="container-fluid">
  
          <div class="section-header">
            <h2>Event Venue</h2>
            <p>Online | St. John College of Engineering and Management, Palghar, Maharashtra</p>
          </div>
  
          
            <div class="col-lg-12 venue-map">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3756.154502250581!2d72.78131921475183!3d19.706045236986512!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be71c92fbd91e67%3A0x2a3ce68676417a45!2sSt.%20John%20College%20of%20Engineering%20and%20Management!5e0!3m2!1sen!2sin!4v1575310221011!5m2!1sen!2sin" style="height:300px;width:100%" ></iframe>
            </div>
        </div>
      </section>
      <div class="container wow fadeInUp">
      <div class="supporter-logo">
        <div class="row" style="text-align: center;">
      <div class="col-lg-6 col-md-4 col-xs-6">
        <div>
          <img src="{% static 'img/aldel.png' %}" style="align-items: center; width:175px; height: 150px;" class="img-fluid" alt="">
        <p style="text-align: center; margin-top: 25px;">"To impart quality professional education with conducive environment for technology enabled teaching-learning and to nurture socially responsible professionals with enhanced employability skills" </p>
        </div>
      </div>
      <div class="col-lg-6 col-md-4 col-xs-6">
        <div>
          <img src="{% static 'img/SJCEM.png' %}" style="align-items: center; width:200px; height: 175px;" class="img-fluid" alt="">
        <p style="text-align: center;">“Excellence in Engineering Education & Creating Next-Gen Leaders / Managers in the Service of Society” </p>
        </div>
      </div>
    </div>
    </div>
  </div>
    </section>
    <!--==========================
      Gallery Section
    ============================-->
    <section id="gallery" class="wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Gallery</h2>
        </div>
      </div>

      <div class="owl-carousel gallery-carousel">
        {% for g in gallery %}
        <a href="{{g.image.url}}" class="venobox" data-gall="gallery-carousel"><img src="{{g.image.url}}" alt=""></a>
        {% endfor %}
      </div>

    </section>

    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">
      <div class="container" >
        <div class="section-header" >
          <h2>Sponsors</h2>
        </div>

        <!--<div class="row no-gutters supporters-wrap clearfix" >

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/2.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/3.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/6.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/7.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="img/supporters/8.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>-->
        {% if not sponsor %}
        <h2 style="text-align: center;">Coming Soon.....</h2>
        {% else %}
        <div class="row no-gutters supporters-wrap clearfix" >
          {% for s in sponsor %}
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="{{s.image.url}}" class="img-fluid" alt="">
            </div>
          </div>
          {% endfor %}
          </div>
        {% endif %}
      </div>
        
    </section>

    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>F.A.Q's </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">What's so special about MegaHack 2.0?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
                    <p>
                      Backed by the experienced core team, we aim to make this event an inclusive one for each 
                      and every hacker out there. One of the highest Prize Amounts for any Hackathon in Mumbai 
                      University and multiple swag bags and goodies for all participants. 
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">Who can participate?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                      Anyone who is a student (Bachelors/Undergrads/Diploma) with a valid Identity Proof of the same can enter MegaHack 2.0.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">How much do we charge?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
                      Registration fees are INR 500 per team. We believe in the culture of innovation and rewards 
                      for those who want to change the world! You just have to hack and change the world! 
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Are there any problem statements for the hackathon?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
                      We believe being forced to build on problem statements limits creativity and participants 
                      should have the freedom to express their creativity. Participants are requested to submit their 
                      problem statements while registering, and we will get back to you with suggestions and 
                      improvements. Bonus points for problem statements in the domains of Healthcare, Education, 
                      Agriculture and Rural Development, Security and Surveillance. 
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq5" class="collapsed">It’s my first hackathon. Can I participate?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq5" class="collapse" data-parent="#faq-list">
                    <p>
                      Of course you can! Experience does not matter till the time you have a zest to change the 
                      world. Newbies are most welcome! 
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq6" class="collapsed">What are the selection criteria?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq6" class="collapse" data-parent="#faq-list">
                    <p>
                      We are looking for people who innovate and can build crazy, unique solutions to real-world 
                      problems. Tell us why you want to be a part of MegaHack 2.0, any accomplishments you are 
                      proud of and anything else which could strengthen your application. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq7" class="collapsed">What is the Judging Criteria?
                    <i class="fa fa-minus-circle"></i></a>
                  <div id="faq7" class="collapse" data-parent="#faq-list">
                    <p>
                      The judges will analyze and evaluate all projects submitted by the teams based on Concept, 
                      Development, Design and Presentation. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq8" class="collapsed">Where I can find the detailed Schedule?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq8" class="collapse" data-parent="#faq-list">
                    <p>
                      MegaHack 2.0 will start from 9 April 10:00 am to 10 April 1:00 pm. Detailed Schedule will be 
                      mailed to the shortlisted participants. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq9" class="collapsed">How long can I work on the project?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq9" class="collapse" data-parent="#faq-list">
                    <p>
                      All participants can work for 24 hours on their projects. The project proposals would be 
                      submitted before the Hackathon, and the entire event is only for the product development. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq10" class="collapsed">How many members are required in a team?
                    <i class="fa fa-minus-circle"></i></a>
                  <div id="faq10" class="collapse" data-parent="#faq-list">
                    <p>
                      No one likes to be a loner. You can have a team of 3-4 members. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq11" class="collapsed">Do I keep working throughout the event?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq11" class="collapse" data-parent="#faq-list">
                    <p>
                      Of course not. MegaHack 2.0 Committee does not like to make Jack a dull boy. We have 
                      numerous fun-filled mini-events in the bag for you. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq12" class="collapsed">What if I don't know how to code?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq12" class="collapse" data-parent="#faq-list">
                    <p>
                      Interest in learning and working with technology is much more important than your current 
                      experience level. No experience is needed — whether you're a coder, an artist, a designer, or 
                      a writer, you'll get a chance to work with various mentor, interact with companies, and learn 
                      alongside fellow participants. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq13" class="collapsed">Are we allowed to build on past projects?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq13" class="collapse" data-parent="#faq-list">
                    <p>
                      You cannot work, copy, or iterate on past projects. Using your APIs or third-party APIs is allowed, as long as the project is entirely new. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq14" class="collapsed">Who are the judges for the event?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq14" class="collapse" data-parent="#faq-list">
                    <p>
                      Only the best for you. The panel of judges includes experienced professionals from various 
                      fields - both education and industry. 

                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq15" class="collapsed">What are the prizes?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq15" class="collapse" data-parent="#faq-list">
                    <p>
                      No one is a saint here. Everyone is here to win. And the awards are to satisfy your needs - 
                      Cash prizes, Goodies, Certificates, and a lot more await you. The Winning Team gets a 
                      minimum of Rs. 50,000, Runner Up gets Rs. 25,000 and Third Place Rs. 15,000. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq16" class="collapsed">Is MegaHack 2.0 an online event or offline?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq16" class="collapse" data-parent="#faq-list">
                    <p>
                      Keeping into mind the safety of participants in this pandemic situation, MegaHack 2.0 will be 
                      an online event. You can code by sitting at the comfort of your home. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq17" class="collapsed">What is the Code of Conduct?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq17" class="collapse" data-parent="#faq-list">
                    <p>
                      MegaHack 2.0 values the importance of a safe and all-inclusive space because of quality. We 
                      welcome students from all backgrounds. Anyone attending must adhere to our Code of 
                      Conduct. 
                    </p>
                  </div>
                </li>

                <li>
                  <a data-toggle="collapse" href="#faq18" class="collapsed">404: Question Not Found<i class="fa fa-minus-circle"></i></a>
                  <div id="faq18" class="collapse" data-parent="#faq-list">
                    <p>
                      If you have any other questions or concerns, reach out to us at megahack@sjcem.edu.in
                    </p>
                  </div>
                </li>
      
              </ul>
          </div>
        </div>

      </div>

    </section>

    <!--==========================
      Subscribe Section
    ============================
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="section-header">
          <h2>Subscribe</h2>
          <p> Subscribe So, You Don't Miss Any Updates from Us</p>
        </div>

        <form method="POST" action="#">
          <div class="form-row justify-content-center">
            <div class="col-auto">
              <input type="text" class="form-control" placeholder="Enter your Email">
            </div>
            <div class="col-auto">
              <button type="submit">Subscribe</button>
            </div>
          </div>
        </form>

      </div>
    </section>-->

    <!--==========================
      Buy Ticket Section
    ============================-->
    <section id="buy-tickets" class="section-with-bg wow fadeInUp">
      <div class="container">

        <div class="section-header">
          <h2>Prizes</h2>
          <p>Earn Your Own Victory</p>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-center" style="color: #f82249;">First Prize</h5>
                <h6 class="card-price text-center">Rs. 50,000</h6>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div class="card mb-5 mb-lg-0">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-center" style="color: #f82249;">Second Prize</h5>
                <h6 class="card-price text-center">Rs. 25,000</h6>
              </div>
            </div>
          </div>
          <!-- Pro Tier -->
          <div class="col-lg-4">
            <div class="card">
              <div class="card-body">
                <h5 class="card-title text-uppercase text-center" style="color: #f82249;">Third Prize</h5>
                <h6 class="card-price text-center">Rs. 15,000</h6>

              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Modal Order Form -->
    </section>

    <!--==========================
      Contact Section
    ============================-->
    <section id="contact" class="section-bg wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Contact Us</h2>
          <p>Reach Out to Us Anytime...</p>
        </div>

        <div class="row contact-info">

          <div class="col-md-6">
            <div class="contact-phone">
              <i class="ion-ios-telephone-outline"></i>
              <h3>Phone Number</h3>
              <p><a href="tel:+91 9028471026">+91 9028471026</a></p>
            </div>
          </div>

          <div class="col-md-6">
            <div class="contact-email">
              <i class="ion-ios-email-outline"></i>
              <h3>Email</h3>
              <p><a href="mailto:megahack@sjcem.edu.in">megahack@sjcem.edu.in</a></p>
            </div>
          </div>

        </div>

        <div class="form">
          <div id="sendmessage">Your message has been sent. Thank you!</div>
          <div id="errormessage"></div>
          <form action="{% url 'index' %}" method="POST" role="form" class="contactForm">
            {% csrf_token %}
            <div class="form-row">
              <div class="form-group col-md-6">
                {{form.name|as_crispy_field}}
                <div class="validation"></div>
              </div>
              <div class="form-group col-md-6">
                {{form.email|as_crispy_field}}
                <div class="validation"></div>
              </div>
            </div>
            <div class="form-group">
              {{form.query|as_crispy_field}}
              <div class="validation"></div>
            </div>
            <div class="form-group">
              {{form.mobile_number|as_crispy_field}}
              <div class="validation"></div>
            </div>
            <div class="form-group">
              {{form.message|as_crispy_field}}
              <div class="validation"></div>
            </div>
            <div class="text-center"><button type="submit" onclick="refresh()" value="submit">Send Message</button></div>
          </form>
        </div>

      </div>
    </section><!-- #contact -->

  </main>


  <!--==========================
    Footer
  ============================-->
  <footer id="footer">
    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-4 col-md-4 footer-info">
            <img src="{% static 'img/Landscape megahack1.png' %}" alt="MegaHack 2.0">
            <p>We are St. John College of Engineering and Management’s (SJCEM’s) second edition of hackathon organized by students and for students. With this hackathon, SJCEM strives to promote technical innovation and highlight students’ skills and abilities. We aim to elicit the best and brightest students, not just from SJCEM but from other universities/institutions all over India.</p>
          </div>

          <div class="col-lg-4 col-md-4 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="fa fa-angle-right"></i> <a href="#intro">Home</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#about">About us</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#schedule">Schedule</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#gallery">Gallery</a></li>
              <li><i class="fa fa-angle-right"></i> <a href="#supporters">Sponsors</a></li>
            </ul>
          </div>

          <div class="col-lg-4 col-md-4 footer-contact">
            <h4>Contact Us</h4>
            <p>
              <strong>Phone:</strong> +91 9028471026<br>
              <strong>Email:</strong> megahack@sjcem.edu.in<br>
            </p>

            <div class="text-center social-links social-icons"><a data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="https://www.instagram.com/megahack_sjcem/" title="Instagram"><img src="{% static 'img/instagram.png' %}" alt="" width="15" height="15"></a>
            
              <a
                  data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="https://www.youtube.com/channel/UCitWikt2f1q72Y0VdQiaKMA" title="YouTube"><img src="{% static 'img/youtube.png' %}" alt="" width="15" height="15"></a>

      <a data-toggle="tooltip" data-bs-tooltip="" data-placement="bottom" href="#https://www.instagram.com/spca_sjcem/" title="Instagram"><img src="{% static 'img/Linkedin.png' %}" alt="" width="25" height="25"></a>
    </div>
          </div>

        </div>
      </div>
    </div>

    <div class="container">
      <div class="col-lg-12 col-md-12 col-sm-12">
<center><br> Visitors Counter <br><br>      <a href="https://www.hitwebcounter.com" target="_blank">
  <img src="https://hitwebcounter.com/counter/counter.php?page=7762295&style=0025&nbdigits=7&type=page&initCount=100" title="Free Counter" Alt="web counter"   border="0" /></a>                                    
  </center>  
      </div>
  
        <div class="copyright">
        &copy; Copyright <strong>MegaHack 2.0</strong>. All Rights Reserved
      </div>
      <div class="credits">
        Designed with ❤️ by Web Development Team
      </div>
    </div>
  </footer><!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-angle-up"></i></a>

  <!-- JavaScript Libraries -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'lib/jquery/jquery-migrate.min.js' %}"></script>
  <script src="{% static 'lib/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'lib/easing/easing.min.js' %}"></script>
  <script src="{% static 'lib/superfish/hoverIntent.js' %}"></script>
  <script src="{% static 'lib/superfish/superfish.min.js' %}"></script>
  <script src="{% static 'lib/wow/wow.min.js' %}"></script>
  <script src="{% static 'lib/venobox/venobox.min.js' %}"></script>
  <script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

  <!-- Contact Form JavaScript File -->
  <script src="{% static 'contactform/contactform.js' %}"></script>

  <!-- Template Main Javascript File -->
  <script src="{% static 'js/main.js' %}"></script>
  <script src="{% static 'js/preload.js' %}"></script>
</body>
<script>
  function refresh(){
    setTimeout(function () {
        location.reload(true);
      }, 500);
  };
</script>
</html>
